body {
    background: #ffffff;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
}

/* NAV */


header {
    background: #f4f2ec url(../img/fundo.jpg) repeat-x;
    width: 100%;
    margin: 0 auto;
}


a:link,
a:active,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #ffffff;
}

#logo:hover {
    border-bottom: none;
}

#icone-carrinho:hover {
    cursor: pointer;
}

.img-carrinho {
    height: 20rem;
    width: auto;
}

.nome-carrinho,
.valor-carrinho,
.quantidade-carrinho {
    font-size: 1.3rem;
}

.total-carrinho {
    font-size: 1.3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

table {
    justify-content: center;
}

td {
    align-content: center;
}



/* DESTAQUE */

.destaque {
    max-width: 100%;
    position: relative;
    height: 30rem;
    width: auto;
    background-repeat: no-repeat;
    background-position: right 80% bottom 45%;
    background-size: 100%;
    background-attachment: fixed;
}

.destaque {
    background-image: url(../img/destaque-home.jpg);
}

/*Cards*/

.cards {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.icone-card {
    width: 4rem;
    height: auto;
}

#texto-material-card,
#texto-parcelamento-card,
#texto-frete-card {
    border: none;
    border-radius: 0;
    border-left: 2px solid #000;
}

/* Container dos produtos */

.h1 {
    padding-left: 1rem;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(55, 55, 55, 0.2), 0 6px 20px 0 rgba(55, 55, 55, 0.19);
}

.card:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.newsletter {
    background-color: #f0f0f0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Rodape */

footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background-color: #2b2b2b;
    width: 100%;
}

footer>p a {
    padding: 2px 10px;
}

@media only screen and (min-width:950px) {
    .categoria {
        width: 90%;
    }
}

@media only screen and (max-width: 900px) {
    .destaque {
        height: 20rem;
        background-attachment: inherit;
    }

    .icone-card {
        width: 2.5rem;
        height: auto;
    }

    #texto-material-card,
    #texto-parcelamento-card,
    #texto-frete-card {
        font-size: 10px;
        border: none;
        border-radius: 0;
        border-left: 2px solid #000;
    }

    .img-carrinho {
        height: 15rem;
        width: auto;
    }

    .nome-carrinho,
    .valor-carrinho,
    .quantidade-carrinho {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {

    .icone-card {
        width: 2rem;
        height: auto;
    }

    #texto-material-card,
    #texto-parcelamento-card,
    #texto-frete-card {
        font-size: 10px;
        border: none;
        border-radius: 0;
        border-left: 2px solid #000;
    }

    #newsletter {
        width: 6rem;
    }

    .img-carrinho {
        height: 10rem;
        width: auto;
    }
}